@model OpenCI.EmailTemplates.Models.ResetPasswordModel

<html>
<head>
    <title>Reset Password</title>
</head>
<body>
<h1>@Model.Name</h1>
<ul>
    <li>@Model.Id</li>
    <li>@Model.Token</li>
    <li>@Model.Link</li>
</ul>
</body>
</html>