@model OpenCI.EmailTemplates.MVC.Models.ConfirmEmailModel
@{
    Layout = Model.Preview ? "_LayoutWithEditor" : null;
}
<p>Id: @Model.Id</p>
<p>Link: @Model.Link</p>
<p>Token: @Model.Token</p>
<p>Preview: @Model.Preview</p>