@model IEnumerable<OpenCI.EmailTemplates.MVC.Models.EmailTemplateDescriptor>

<h2>Availible Templates</h2>

@foreach (var descriptor in Model)
{
    <a href="@descriptor.Guid?preview=true">@descriptor.Name</a>
}
