@model OpenCI.EmailTemplates.MVC.Models.ResetPasswordModel

@if (!Model.Preview)
{
    Layout = null;
}

<p>Name: @Model.Name</p>
<p>Link: @Model.Link</p>
<p>Token: @Model.Token</p>
<p>Preview: @Model.Preview</p>