@model OpenCI.EmailTemplates.MVC.Models.ResetPasswordModel
@{
    Layout = Model.Preview ? "_LayoutWithEditor" : null;
}
<p>Name: @Model.Name</p>
<p>Link: @Model.Link</p>
<p>Token: @Model.Token</p>
<p>Preview: @Model.Preview</p>